/csc220projects/Proj1/build/
/Proj1/nbproject/private/
/proj2/nbproject/private/
/proj2/build/
/proj3/nbproject/private/
/proj3/build/
/VideoPokerApp/nbproject/private/
/VideoPokerApp/build/
/proj4/nbproject/private/
/proj4/build/